target
.cproject
.project
.settings
vws.exe
*.exe
source/archive-dumper/archive-dumper
source/archive-fixer/archive-fixer
source/archive-rebuilder/archive-rebuilder
source/archive-verifier/archive-verifier
source/console-archive-dumper/console-archive-dumper
source/command-line-console/command-line-console
source/loop-packet-dumper/loop-dumper
source/loop-packet-dumper/out
source/test/ArchiveManagerTest
source/test/ArchivePacketTest
source/test/ArchiveTest
source/test/backup
source/test/BitConverterTest
source/test/DateTimeFieldsTest
source/test/DominantWindTest
source/test/EnumTest
source/test/LoggerTest
source/test/packets
source/test/StormArchiveManagerTest
source/test/StormDataTest
source/test/SummaryTest
source/test/weather-archive-verify.log
source/test/WindDirectionSliceTest
source/test/AlarmManagerTest
source/test/BaudRateTest
source/test/CommandSocketTest
source/test/DominantWindInjectionTest
source/test/LinkQualityTest
source/vws/archive.dat
source/vws/log/
source/vws/out
source/vws/vws
source/vws_data
