#!/bin/sh
# Start/stop the weathersense suite.
#
### BEGIN INIT INFO
# Provides:          weathersense
# Required-Start:    $remote_fs $syslog $time
# Required-Stop:     $remote_fs $syslog $time
# Should-Start:      $network $named slapd autofs ypbind nscd nslcd winbind sssd
# Should-Stop:       $network $named slapd autofs ypbind nscd nslcd winbind sssd
# Default-Start:     5
# Default-Stop:      0 1 6
# Description:       weathersense is a suite of processes to read data from a
#                    Davis Instruments Vantage Pro 2 weather station and upload
#                    the data to the Weather Underground.
### END INIT INFO

PATH=/bin:/usr/bin:/sbin:/usr/sbin
WEATHERSENSE_DIR=/weathersense
WEATHERSENSE_VERSION=4.1.0
WEATHERSENSE_USER=weathersense
DESC="weathersense suite"
NAME=weathersense
SCRIPTNAME=/etc/init.d/"$NAME"

case "$1" in
start)	echo  "Starting weathersense suite" "weathersense"
        cd $WEATHERSENSE_DIR/$WEATHERSENSE_VERSION/bin
	./start_weathersense $WEATHERSENSE_VERSION $WEATHERSENSE_USER
	;;
stop)	echo "Stopping weathersense suite" "weathersense"
        killall --quiet node vws
        ;;
*)	echo "Usage: /etc/init.d/weathersense {start|stop}"
        exit 2
        ;;
esac
exit 0
